{% extends "foodie/base.html" %}
{% load static %}
{% block title %}
Food
{% endblock  %}
{% block csslink %}
<link rel="stylesheet" href={% static "foodie/foodlist.css" %}>
{% endblock  %}
{% block body %}


<div id="header">
  <h1>Explore Our Dishes</h1>
  <p>Savour The Flavor</p>
    </div>
<div class="container">

    {% for food in all_food %} 
          <div class="card">
            <div class="card-image">
              <img src="{{ food.image_url }}" alt="{{ food.food_name }}">

            </div>
            <div class="card-text">
                <button class="btn btn-danger rounded-pill px-3" type="button">{{food.category}}</button>
                
              <h2 class="card-title">{{food.food_name}}</h2>
              <p class="card-body">{{ food.food_description|slice:"0:20" }}...</p>
            </div>
            <div class="card-price">${{ food.food_price }}</div>
            <div class="click">
              <a href="{{food.get_absolute_url}}">
                <button class="btn btn-primary rounded-pill px-3" type="button">View</button>
            </a>
            </div>
          </div>
     
       {% endfor %}
      </div>
      
      </div>
      </div>









{% endblock  %}
